body{
    background-image: url("../images/1.jpg");
}

h1{
    text-align: center;
}
#content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

#button{
    display: flex;
    justify-content: center;
}